<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Cadastro</title>
</head>
<body>
    <div class="container">
        <div class="lado__esquerdo">
            <header>
                <div class="cabecalho__conteudo">
                    <div class="cabecalho__esquerda">
                    <img src="/images/icone-semaforo.svg" alt="ícone de semáforo" class="container__imagem">
                <a href="/index.html" class="container__titulo">Vrum Vrum</a>
            </header>
    <h2 class="cadastro__titulo">Criar uma conta</h2>

            <!-- Forms de Cadastro -->
    <div class="formulario">
        <form id="form">
            <div class="campo">
                <label for="nome">Nome Completo</label>
                <input type="text" id="nome" name="nome" class="required" required oninput="validarNome()">
                <span class="span-required">Nome deve ter no mínimo 3 caracteres</span> 
            </div>
            <br>

            <!-- O fieldset serviu para colocar os campos um ao lado do outro -->

            <fieldset class="grupo">
                <div class="campo">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="required" required oninput="validarEmail()"><br>
                    <span class="span-required">Digite um email válido</span>
                </div>

                <div class="campo">
                    <label for="telefone">Telefone/Celular</label>
                    <input type="telefone" id="telefone" name="telefone" class="required"  placeholder="(DDD) XXXX-XXXX" oninput="validarTelefone()">
                    <span class="span-required">Digite um número de telefone válido</span>
                </div>
            </fieldset>
            <br>
            <fieldset class="grupo">
                <div class="campo">
                    <label for="cpf">CPF</label>
                    <input type="cpf" id="cpf" name="cpf" class="required" required oninput="validarCPF()">
                    <span class="span-required">Por favor, insira um CPF válido!</span> 
                </div>

            <div class="campo">   
                <label for="cargo">Cargo</label>
                <input type="text" id="cargo" list="lista__opcoes" placeholder="Selecionar..." class="required" required oninput="validarCargo()">
                <span class="span-required">O campo é obrigatório!</span>
                    <datalist id="lista__opcoes">
                        <option value="Agente de Trânsito">
                        <option value="Policial Militar">
                        <option value="Técnico em Sinalização Viária">
                        <option value="Agende de Mobilidade Urbana">
                        <option value="Técnico em Informática">
                        <option value="Outro">
                    </datalist>
                </div>
                
            </fieldset>
            <br>
            <fieldset class="grupo">
                <div class="campo">
                    <label for="senha">Senha</label>
                    <input type="password" id="senha" name="senha" class="required" required oninput="validarSenha()">
                    <span class="span-required">Digite uma senha com no mínimo 8 caracteres</span>
                </div>

                <div class="campo">
                    <label for="senha">Confirmar senha</label>
                    <input type="password" id="senha" name="senha" class="required" required oninput="compararSenha()">
                    <span class="span-required">Senhas devem ser compatíveis</span>
                </div>
            </fieldset>

            <fieldset class="grupo">
                    <!-- Botão para enviar as informaçoes de usuario e senha -->
                    <input class="botao__cadastrar" type="submit" value="Cadastrar">
        </form>

                <!-- Botão para continuar cadastro com email -->
                <input class="botao__continuar__email" type="button" value="Continuar com email">

            </fieldset>

                <!-- Link para fazer login -->
                <h6 class="cadastro__subtitulo">Já tem uma conta?<a href="/templates/login.html" class="link__login" > Faça o login</a></h6>
            </div>
        </div>
    <div class="lado__direito">
        <!-- Esse lado contém somente a imagem  -->
        <h1></h1>
    </div>
</div>
    <!-- Link p/ validar os campos de cadastro -->
    <script src="/scripts/formsCadastro.js"></script>
</body>
</html>