<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="lado__esquerdo">
            <header>
                <div class="cabecalho__conteudo">
                    <div class="cabecalho__esquerda">
                    <img src="/images/icone-semaforo.svg" alt="ícone de semáforo" class="container__imagem">
                <a href="/index.html" class="container__titulo">Vrum Vrum</a>
            </header>
        <!-- Login -->
        <div class="login">
            <h2 class="login__titulo">Fazer Login</h2>
                <form>
                    <div class="campo__login">
                        <label for="usuario">Código Usuário:</label>
                        <input type="text" id="usuario" name="usuario" required><br><br>
                    </div>

                    <div class="campo__login">
                        <label for="senhaLogin">Senha:</label>
                        <input type="password" id="senhaLogin" name="senhaLogin" required><br><br>
                    </div>

                    <!-- Link de "Esqueceu a senha" -->
                    <p><a class="login__trocar__senha"href="#">Esqueceu a senha?</a></p>

                    <!-- Botão de selecionar "lembrar de mim" -->
                    <div class="campo__selecionar">
                        <input type="checkbox" id="lembrar" name="lembrar">
                        <label for="lembrar">Lembrar de mim</label><br><br>
                    </div> 
                        <!-- Botão para enviar as informaçoes de usuario e senha -->
                        <input class="botao__entrar" type="submit" value="Entrar">
                </form>
                    <!-- Link para fazer cadastro -->
                    <h6 class="login__subtitulo">Não tem uma conta?<a href="/templates/cadastro.html" class="link__cadastro" > Cadastre-se</a></h6>
            </div>
    </div>
        <div class="lado__direito__login">
            <!-- Conteúdo do lado direito -->
            <h1></h1>
        </div>
    </div>
    
</body>
</html>