@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.cabecalho {
    padding: 30px 0px 0px 50px;
}

.conteudo-principal {
    padding-top: 130px;
}

.cabecalho__conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__esquerda {
    display: flex;
    align-items: center;
    gap: 10px;
}

.cabecalho__menu {
    display: flex;
    padding-right: 200px;
    gap: 90px;
}

.cabecalho__menu__link, 
.container__titulo{
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 24px;
    text-decoration: none;
    color: var(--cor-fonte-primaria);
}

.container__titulo:hover {
    color: var(--cor-fonte-secundaria);
}

.cabecalho__menu__link:hover {
    color: rgb(29, 76, 142)
}

.campo__pesquisa{
    background-color: transparent;
    border: 1px solid var(--cor-fonte-primaria);
    color: var(--cor-fonte-primaria);
    border-radius: 30px;
    padding: 5px;
    width: 250px;
    flex: 1;  
    min-width: 0;
}

.campo__pesquisa::placeholder{
    font-family: var(--fonte-secundaria);
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    color: var(--cor-fonte-primaria);
    background: url(../images/Vector.svg) no-repeat;
    background-position: 1.5em;
}

.placeholder-hidden::placeholder {
    color: transparent;
    background: none;
}


@media screen and (min-width: 1024px) {

    .cabecalho__menu {
        display: flex;
        padding-right: 5px;
        gap: 60px;
    }

    .cabecalho {
        padding: 30px;
    }
    
    .conteudo-principal {
        padding-top: 3%;
    }

}