.menu-content {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: auto;
    flex-direction: column;
}

.menu {
    display: flex;
    gap: 50px;
    flex-direction: column;
    background: var(--cor-de-fundo-secundaria);
    border-radius: 50px;
    padding: 40px;
}

.menu__posicao {
    display: flex;
    gap: 80px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
}

.menu-item-1 a,
.menu-item-2 a {
    text-align: center;
    display: block;
    margin-top: 10px;
    font-family: var(--fonte-primaria);
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
    color: var(--cor-fonte-secundaria);
    transition: transform 0.5s ease;
}


.menu-item-1 a:hover, 
.menu-item-2 a:hover {
    transform: scale(1.03); 
    color: var( --cor-hover-menu);
}

#icone {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.5s ease;
}

#icone:hover {
    transform: scale(1.1); 
}

#transito {
    padding-right: 15px;
}



