<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Semáforo</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="container">
        <div id="Header">
            <div id="FotoENome">
                <img src="/assets/normal_u19.png" alt="FotoHeader">
                <h1>Olá, {{nome_usuario}}</h1>
            </div>
            <div id="divBusca">
                <!-- Campo de pesquisa -->
                <input type="search" class="campo__pesquisa" placeholder="Pesquisar...">
            </div> 
        </div>
    
        <nav id="MenuLateral">
            <ul>
                <li><a href=""><img src="/assets/normal_u42.svg" id="Home"></a></li>
                <li><a href=""><img src="/assets/normal_u44.svg" id="Perfil"></a></li>
                <li><a href=""><img src="/assets/normal_u45.svg" id="Transito"></a></li>
                <li><a href=""><img src="/assets/normal_u46.svg" id="Semaforos"></a></li>
                <li><a href=""><img src="/assets/normal_u47.svg" id="Pedestres"></a></li>
                <li><a href=""><img src="/assets/normal_u48.svg" id="Acidentes"></a></li>
                <li><a href=""><img src="/assets/normal_u49.svg" id="Relatorio"></a></li>
                <li><a href=""><img src="/assets/normal_u50.svg" id="Sair"></a></li>
            </ul>
        </nav>
    </header>

    <!-- Novo conteúdo adicionado aqui -->
    <div class="content">
        <div class="main-content">
            <h2 class="titulo">Pedestre</h2>
            <hr class="linha-preta">
            <p class="texto">Aqui você encontra informações sobre os pedestres, acesso a câmeras próximas e opções para gerenciar os sinaleiros perto das travessias.            </p>
            <img src="/assets/pedreste.jpeg" alt="ImagemExemplo" class="imagem-exemplo">
            <div class="botoes-abaixo-imagem">
                <button class="botao-principal">consultar</button>
                <button class="botao-principal">Ao vivo</button>
                <button class="botao-principal">Gravar</button>
            </div>
        </div>
        <div class="side-content">
            <div class="bloco-controle">
                <h3>Controle</h3>
                <button class="botao-controle">TORNAR INTERMITENTE</button>
                <button class="botao-controle">PROGRAMAR EVENTOS</button>
            </div>
            <div class="bloco-fluxo">
                <h3>Fluxo de Pedestre</h3>
                <img src="/assets/grafico.png" alt="Grafico" class="grafico">
                <button class="botao-fluxo">Ver Detalhes</button>
            </div>
        </div>
    </div>

</body>
<script src="script.js"></script>
</html>
