<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Semáforo</title>
</head>
<body>
    <header>
        <div>
            <img src="" alt="FotoHeader">
            <h1>Olá, Vitor Rodrigues</h1>
        </div>
        <div id="divBusca">
            <img src="" alt="Pesquisar" id="btnBusca"> 
            <input type="text" id="txtBusca" placeholder="Pesquisar..."/>
        </div>
        <img src="" alt="FiltroHeader">

        <div id="HomeMenuLateral">
            <a href="//www.google.com"><img src="img/css3.png" class="media-object  img-responsive img-thumbnail"></a>
        </div>

        <div id="MenuLateral">
            <ul>
                <li><a href=""><img src="" id="Perfil"></a></li>
                <li><a href=""><img src="" id="Transito"></a></li>
                <li><a href=""><img src="" id="Semaforos"></a></li>
                <li><a href=""><img src="" id="Pedestres"></a></li>
                <li><a href=""><img src="" id="Acidentes"></a></li>
                <li><a href=""><img src="" id="Relatorio"></a></li>
            </ul>
        </div>
    </header>
    {% block content %}
        
    {% endblock content %}


</body>
</html>